@import "tailwindcss";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

/* Tipografía literaria personalizada */
.font-lora {
  font-family: 'Lora', serif;
}

.font-merriweather {
  font-family: 'Merriweather', serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-mono-code {
  font-family: 'JetBrains Mono', monospace;
}

/* Estilos de la Hoja de Papel e Interfaz TipTap */
.ProseMirror {
  outline: none;
  min-height: 100%;
}

.ProseMirror p {
  margin-bottom: 1.2em;
  line-height: 1.8;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #94a3b8;
  pointer-events: none;
  height: 0;
  font-style: italic;
}

/* Scrollbar personalizada sutil */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.2);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 163, 184, 0.4);
}
